<h3>
	<i class="fa fa-angle-right"></i> Conta de Despesa
</h3>

<div class="row col-md-12 form-panel">

	<form novalidate class="form-horizontal" method="get" name="edicaoConta" novalidate>

		<div class="form-group">
			<label class="col-md-1 control-label">Nome:</label>
			<div class="col-md-11">
				<input type="text" class="form-control" placeholder="Nome para exibição" ng-model="conta.descricao" required />
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-1 control-label">Cor:</label>
			<div class="col-md-11">
				<input colorpicker class="form-control" placeholder="Cor de exibição" ng-model="conta.cor" required />
				<bullet ng-model="conta"></bullet>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-1 control-label">Saldo:</label>
			<div class="custom-icon-group">
				<span class="icon-input">
					<i class="fa fa-money"></i>
				</span>
				<input type="text" class="form-control" placeholder="Saldo Inicial" ng-model="conta.saldo" ng-disabled="conta.id != null" ui-number-mask required />
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12">
				<button type="button" class="btn btn-theme" style="float: right;" data-toggle="modal" data-target="#modalSalvar" ng-disabled="edicaoConta.$invalid">Gravar</button>
				<button type="button" class="btn btn-theme" style="float: left;" ng-click="cancelar();">Cancelar</button>
			</div>
		</div>
	</form>
</div>

<ng-modal id="modalSalvar" modal-title="Confirmar" func-salvar="salvar(edicaoConta.$valid);" type="SAVE">Tem certeza que deseja salvar <b>{{conta.descricao}}?</b> </ng-modal>
