<h3>
	<i class="fa fa-angle-right"></i>
	Comparar Serviços de Transferência
</h3>

<div class="row mt">

	<div class="col-md-12">

		<div class="form-panel" style="min-height: 400px;">

			<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modalAdicionar" style="margin: 10px 0px 20px 0px;">
				<i class="fa fa-plus"></i>
				Adicionar Serviço...
			</button>

			<hr style="color: #797979; clear: both;" />

			<form class="form-horizontal" method="POST" name="compararServicoTransferencia" novalidate>

				<div class="col-md-12">

					<div class="col-md-3">
						<div class="col-md-6">
							<h4>Valor do IOF:</h4>
						</div>

						<div class="input-group col-md-6">
							<input type="text" class="form-control" placeholder="IOF" ng-model="iof" autoclose="true" readonly="true" ui-number-mask />
							<div class="input-group-addon">
								<i class="fa fa-percent">%</i>
							</div>
						</div>
					</div>

					<div class="col-md-3">
						<div class="col-md-6">
							<h4>Valor do SPOT:</h4>
						</div>
						<div class="input-group col-md-6">
							<div class="input-group-addon">
								<i class="fa fa-money"></i>
							</div>
							<input type="text" class="form-control" placeholder="SPOT" ng-model="spot" autoclose="true" readonly="true" ui-number-mask="3" />
						</div>
					</div>

					<div class="col-md-3">
						<div class="col-md-6">
							<h4>Transferência de:</h4>
						</div>
						<div class="input-group col-md-6">
							<div class="input-group-addon">
								<i class="fa fa-money"></i>
							</div>
							<input type="text" class="form-control" ng-model="valorTotal" autoclose="true" ui-number-mask="2" />
						</div>
					</div>

					<div class="col-md-3">
						<div class="col-md-6">
							<h4>Valor da Cotacao:</h4>
						</div>
						<div class="col-md-5">
							<input type="text" class="form-control" ng-model="cotacao.taxa" autoclose="true" ui-number-mask="2" />
						</div>
						<div class="col-md-1">
							<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalSelecionarCotacao">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>

				</div>

				<div class="col-md-12" style="margin-top: 50px;">

					<div style="margin: 0px auto; float: none;">

						<table class="table table-hover">
							<thead>
								<tr>
									<td>
										<h5>Nome do Servico</h5>
									</td>
									<td ng-repeat="servico in servicos" style="text-align: center;">
										<h5>{{servico.nome}}</h5>
									</td>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<h5>Spred</h5>
									</td>
									<td ng-repeat="servico in servicos" style="text-align: center; vertical-align: middle;">{{servico.spred | number: 2}}%</td>
								</tr>
								<tr>
									<td>
										<h5>Taxas</h5>
									</td>
									<td ng-repeat="servico in servicos" style="text-align: center;">
										<h5 ng-if="!servico.custoVariavel">{{servico.taxas | currency: 'R$ '}}</h5>
										<input ng-if="servico.custoVariavel" type="text" class="form-control" ng-model="servico.taxas" style="width: 100px; margin: 0px auto;" ui-number-mask />
									</td>
								</tr>
								<tr>
									<td>
										<h5>Total Bruto</h5>
									</td>
									<td ng-repeat="servico in servicos" style="text-align: center;">
										<h5>{{calcularTotalBruto(servico) | currency: 'R$ '}}</h5>
									</td>
								</tr>
								<tr>
									<td>
										<h5>
											<b>Total Final</b>
										</h5>
									</td>
									<td ng-repeat="servico in servicos" style="text-align: center;">
										<h5>
											<b>{{calcularTotalLiquido(servico) | currency: 'R$ '}}</b>
										</h5>
									</td>
								</tr>
							</tbody>
						</table>

					</div>

				</div>

			</form>

			<div style="clear: both;"></div>

		</div>

	</div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalAdicionar">

	<div class="modal-dialog" role="document">

		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Adicionar Serviço</h4>
			</div>

			<div class="modal-body">

				<form class="form-horizontal" method="get" name="adicionarServicoTransferencia" novalidate>

					<label class="col-md-2 control-label">Nome:</label>
					<div class="col-md-8">
						<div>
							<input type="text" class="form-control" ng-model="filtroServico.nome" required />
						</div>
					</div>

					<div class="col-md-2">
						<button type="button" class="btn btn-default pull-right" ng-click="buscarServicos();">
							<i class="fa fa-search"></i>
						</button>
					</div>

					<br /> <br /> <br />

					<table class="table table-hover" ng-if="servicosFiltrados.length > 0">
						<thead>
							<tr>
								<th>Nome</th>
								<th>SPRED/Taxas</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in servicosFiltrados" style="height: 40px;">
								<td>{{item.nome}}</td>
								<td style="vertical-align: middle;" ng-if="!item.custoVariavel">{{item.spred | number:2}}% / {{item.taxas | currency: 'R$ '}}</td>
								<td style="vertical-align: middle;" ng-if="item.custoVariavel">{{item.spred | number:2}}% / - </td>
								<td>
									<button type="button" class="btn btn-default pull-right" ng-click="adicionarServico(item);"">
										<i class="fa fa-plus"></i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>

				</form>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
			</div>

		</div>

	</div>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modalSelecionarCotacao">

	<div class="modal-dialog" role="document">

		<div class="modal-content">

			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Selecionar Cotacao</h4>
			</div>

			<div class="modal-body">

				<label class="col-md-2 control-label">Origem:</label>
				<div class="col-md-3">
					<div>
						<select class="form-control" ng-model="filtro.origem">
							<option ng-repeat="moeda in MOEDAS_NAMES" value="{{moeda}}">{{MOEDAS[moeda].descricao}} ({{MOEDAS[moeda].simbolo}})</option>
						</select>
					</div>
				</div>

				<label class="col-md-2 control-label">Destino:</label>
				<div class="col-md-3">
					<div>
						<select class="form-control" ng-model="filtro.destino">
							<option ng-repeat="moeda in MOEDAS_NAMES" value="{{moeda}}">{{MOEDAS[moeda].descricao}} ({{MOEDAS[moeda].simbolo}})</option>
						</select>
					</div>
				</div>

				<div class="col-md-2">
					<button type="button" class="btn btn-default pull-right" ng-click="buscarCotacoes();">
						<i class="fa fa-search"></i>
					</button>
				</div>

				<br /> <br /> <br />

				<table class="table table-hover" ng-if="cotacoes.length > 0">
					<thead>
						<tr>
							<th>Data</th>
							<th style="text-align: center;">Taxa de Conversao</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in cotacoes" style="height: 40px;" ng-click="selecionar(item);">
							<td style="vertical-align: middle;">{{item.data | date:'dd/MM/yyyy HH:mm'}}</td>
							<td style="vertical-align: middle; text-align: center;">1 {{MOEDAS[item.origem].simbolo}} = {{MOEDAS[item.destino].simbolo}} {{item.taxa | number: 2}}</td>
						</tr>
					</tbody>
				</table>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>

		</div>

	</div>

</div>