<h3>
	<i class="fa fa-angle-right"></i>
	Dashboard
</h3>

<div class="form-panel col-md-12" style="margin: 0px 0px 30px 0px;">

	<div class="col-md-1">
		<button class="botao glyphicon glyphicon-chevron-left" ng-click="anterior();"></button>
	</div>

	<div class="col-md-10">
		<h4 style="text-align: center;">{{MESES[mes].nome}}/{{ano}}</h4>
	</div>

	<div class="col-md-1">
		<button class="botao glyphicon glyphicon-chevron-right pull-right" ng-click="posterior();"></button>
	</div>

	<div class="clearfix"></div>

</div>

<div class="row mt">
	<div class="col-md-4" ng-repeat="grafico in graficos">
		<div class="white-panel">
			<div class="white-header">
				<h5>{{grafico.titulo}}</h5>
			</div>
			<div class="row">
				<svg id="{{grafico.id}}" style="height: 300px;"></svg>
			</div>
		</div>
	</div>
</div>

<div class="row mt">

	<div class="col-md-4">
		<slick init-onload="true" data="debitaveis">

		<div ng-repeat="debitavel in debitaveis" class="white-panel" style="height: 200px;">
			<div class="white-header">
				<h5>{{debitavel.descricao}}</h5>
			</div>
			<div class="row">
				<h1 style="margin-top: 40px;">{{debitavel.saldo | currency: MOEDAS[debitavel.moeda].simbolo + ' '}}</h1>
			</div>
		</div>

		</slick>
	</div>

	<div class="col-md-4">
		<div class="white-panel">
			<div class="white-header">
				<h5>Saldo</h5>
			</div>
			<div class="row" style="height: 145px;">
				<h1 style="margin-top: 40px;">
					<i class="fa fa-arrow-up" style="color: green; font-size: 36px;" ng-if="saldo > 0"></i>
					<i class="fa fa-arrow-down" style="color: red; font-size: 36px;" ng-if="saldo < 0"></i>
					{{saldo | currency: 'R$ '}}
				</h1>
			</div>
		</div>
	</div>

	<div class="col-md-4">
		<div class="white-panel">
			<div class="white-header">
				<h5>Orçamentos do Mês</h5>
			</div>
			<div class="row" style="height: 145px;">
				<div ng-repeat="orcamento in orcamentos" class="col-md-12">
					<h5 class="col-md-4">{{orcamento.tipoDespesa.descricao}}</h5>
					<div class="col-md-7">
						<progressbar class="progress-striped active" value="orcamento.getValueOrcamento();" type="{{orcamento.getClassProgressBar();}}">{{orcamento.valorConsolidado}}/{{orcamento.valor}}</progressbar>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

</div>
