<h3>
	<i class="fa fa-angle-right"></i> Dashboard
</h3>

<div class="form-panel col-md-12" style="margin: 0px 0px 30px 0px;">

    <div style="float: left;">
        <button class="botao glyphicon glyphicon-chevron-left" ng-click="anterior();"></button>
    </div>

    <div style="float: left; width: 90%;">
        <h4 style="text-align: center;">{{MESES[mes].nome}}/{{ano}}</h4>
    </div>

    <div style="float: right;">
        <button class="botao glyphicon glyphicon-chevron-right" ng-click="posterior();"></button>
    </div>

</div>

<div class="row mt">
    <div class="col-md-4" ng-repeat="grafico in graficos">
        <div class="white-panel">
            <div class="white-header">
                <h5>{{grafico.titulo}}</h5>
            </div>
            <div class="row">
                <svg id="{{grafico.id}}" style="height: 300px;"></svg>
            </div>
        </div>
    </div>
</div>

<div class="row mt">

    <carrosel>

        <div ng-repeat="debitavel in debitaveis">
            <h5>{{debitavel.descricao}}</h5>
            <p>{{debitavel.saldo | currency: 'R$ '}}</p>
        </div>

    </carrosel>

</div>