<h3>
	<i class="fa fa-angle-right"></i>
	Extrato Mensal
</h3>

<div class="form-panel">

	<div class="row">

		<div class="col-md-12">

			<fieldset class="filtro">

				<legend>Filtro</legend>

			    <label>Vencimento Inicial:</label>
			    <input type="text" name="dataInicial" class="form-control" bs-datepicker ng-model="dataInicial" autoclose="true" autocomplete="off"></input>
			
			    <label>Vencimento Final:</label>
			    <input type="text" name="dataFinal" class="form-control" bs-datepicker ng-model="dataFinal" autoclose="true" autocomplete="off"></input>

				<label>Conta:</label>
				<colorable ng-model="debitavel" itens="debitaveis"></colorable>

				<button type="button" class="btn btn-primary" ng-click="gerar();" style="float: right;">Gerar</button>

			</fieldset>

			<div class="clearfix"></div>

			<div id="grafico">
				<svg style="min-height: 550px;"></svg>
			</div>

		</div>

	</div>

</div>




