<h3>
	<i class="fa fa-angle-right"></i>
	Lançamento de Receita
</h3>

<div class="row mt">

	<div class="col-md-12">

		<div class="form-panel">

			<button type="button" class="btn btn-default pull-right" ng-click="add();" style="margin: 0px 0px 30px 0px;">
				<i class="fa fa-plus"></i>
				Adicionar
			</button>

			<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modalUpload" style="margin: 0px 30px 0px 0px;">
				<i class="fa fa-upload"></i>
				Carregar
			</button>

			<form class="form-horizontal" method="get" name="painelDespesa" novalidate>

				<table class="table  table-hover data-table">
					<thead>
						<tr>
							<th>Descrição</th>
							<th>Valor</th>
							<th>Vencimento</th>
							<th>Tipo</th>
							<th>Debitável</th>
							<th>Recebida?</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="receita in receitas" style="height: 40px;">
							<td>
								<input type="text" class="form-control" ng-model="receita.descricao" required>
							</td>
							<td>
								<input type="text" class="form-control" ng-model="receita.valor" ui-number-mask required>
							</td>
							<td>
								<input type="text" name="data" class="form-control" ng-model="receita.vencimento" bs-datepicker autoclose="true" required></input>
							</td>
							<td>
								<colorable ng-model="receita.tipo" itens="tiposReceita"></colorable>
							</td>
							<td>
								<colorable ng-model="receita.debitavel" itens="debitaveis"></colorable>
							</td>
							<td>
								<input type="checkbox" class="form-control" ng-model="receita.depositado">
							</td>
							<td>
								<button type="button" class="btn btn-danger" ng-click="remove($index);">
									<i class="fa fa-trash-o"></i>
								</button>
							</td>
						</tr>
					</tbody>
				</table>

				<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modalSalvar">
					<i class="fa fa-check"></i>
					Salvar
				</button>

				<div class="clearfix"></div>

			</form>

		</div>

	</div>

</div>

<div class="indicador form-panel">
	<h5>Total</h5>
	<p>{{receitas | sum: 'valor' | currency: 'R$ '}}</p>
</div>

<div class="modal modal-dialog modal-content" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Upload</h4>
	</div>

	<div class="modal-body">
		<form class="form-horizontal" method="get" name="uploadPainelReceita" novalidate>

			<div class="form-group">
				<label class="col-sm-2 control-label">Debitável:</label>
				<colorable itens="debitaveis" ng-model="receitaUpload">
			</div>

			<div class="form-group">
				<div class="col-sm-1">
					<input type="checkbox" class="form-control" ng-model="receitasDespositadas">
				</div>
				<label class="col-sm-10">Receitas já depositadas?</label>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">Arquivo:</label>
				<input type="file" id="arquivo" />
			</div>

		</form>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="uploadFile();">OK</button>
	</div>

</div>

<div class="modal modal-dialog modal-content" id="modalSalvar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title">Salvar</h4>
	</div>

	<div class="modal-body">
		<form class="form-horizontal" method="get" name="salvarPainelReceita" novalidate>

			<progressbar max="100" value="total">{{total}}%</progressbar>

		</form>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" style="float: left;">Cancelar</button>
		<button type="button" class="btn btn-primary" ng-click="salvar();">OK</button>
	</div>

</div>

