<h3>
	<i class="fa fa-angle-right"></i>
	Projeção
</h3>

<div class="form-panel">

	<div class="row">

		<div class="col-md-12">

			<fieldset class="filtro">

				<legend>Filtro</legend>

				<label>Número de Meses:</label>
				<input type="number" name="numeroMeses" class="form-control" ng-model="numeroMeses" style="width: 150px;"></input>
				
				<label>Conta:</label>
				<colorable ng-model="debitavel" itens="debitaveis" on-select="setDebitavel();"></colorable>

				<button type="button" class="btn btn-primary" ng-click="gerar();" style="float: right;">Gerar</button>

			</fieldset>

			<div class="clearfix"></div>

			<div id="grafico">
				<svg style="min-height: 550px;"></svg>
			</div>

		</div>

	</div>

</div>




