<h3>
	<i class="fa fa-angle-right"></i> Orçamento para Despesas
</h3>

<div class="row mt">

    <div class="col-lg-8">

        <div class="form-panel">

            <form class="form-horizontal" method="get" name="edicaoOrcamento" novalidate>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Tipo:</label>
                    <div class="col-sm-10 btn-group" dropdown>

                        <button type="button" class="btn btn-default" style="min-width: 150px;">
                            <div style="display: table;">
                                <div style="background-color: {{tipoDespesaSelecionado.cor}}; border-radius:100px; width:20px;height: 20px; margin: 0px 0px 0px 5px; display: table-cell;"></div>
                                <span style="vertical-align: middle;display: table-cell; padding-left: 3px;">{{tipoDespesaSelecionado.descricao}}</span>
                            </div>
                        </button>

                        <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                            <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu" style="min-width: 176px; margin-left: 15px;">
                            <li ng-repeat="tipo in tiposDespesa" ng-click="selecionarTipoDespesa(tipo);">
                                <div style="display: table;padding: 0px 0px 3px 3px; min-height:34px;">
                                    <div style="background-color: {{tipo.cor}}; border-radius:100px; width:30px;height: 30px; margin: 0px 0px 0px 5px; display: table-cell;"></div>
                                    <a style="vertical-align: middle;display: table-cell; padding-left: 3px;">{{tipo.descricao}}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descrição:</label>
                    <div class="col-sm-10 ">
                
                </div>
                
            </form>

        </div>

    </div>

</div>

<ng-modal id="modalSalvar" modal-title="Confirmar" func-salvar="salvar();" type="SAVE">Tem certeza que deseja salvar <b>{{orcamento.toString()}}?</b>
</ng-modal>