<h3>
	<i class="fa fa-angle-right"></i>
	Lançamento de Receita
</h3>

<ng-modal id="modalSalvar" modal-title="Confirmar" func-salvar="salvar(edicaoReceita.$valid);" type="SAVE">Tem certeza que deseja salvar <b>{{receita.descricao}}?</b> </ng-modal>

<div class="row col-md-6 form-panel">

	<form class="form-horizontal" method="get" name="edicaoReceita" novalidate>

		<div class="form-group">
			<label class="col-md-3 control-label">Descrição:</label>
			<div class="col-md-9 ">
				<input type="text" class="form-control" placeholder="Descrição" ng-model="receita.descricao" required />
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-3 control-label">Valor:</label>
			<div class="input-group col-md-9" style="padding-left: 15px; padding-right: 15px;">
				<div class="input-group-addon">
					<i class="fa fa-money"></i>
				</div>
				<input type="text" class="form-control" placeholder="Valor da Receita" ng-model="receita.valor" ui-number-mask required />
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-3 control-label">Data:</label>
			<div class="input-group col-md-9" style="padding-left: 15px; padding-right: 15px;">
				<div class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</div>
				<input type="text" name="data" class="form-control" placeholder="Data" ng-model="receita.vencimento" bs-datepicker autoclose="true" required />
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-3 control-label">Tipo:</label>
			<div class="col-md-4">
				<colorable itens="tiposReceita" ng-model="receita.tipo"></colorable>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-3 control-label">Debitável:</label>
			<div class="col-md-4 ">
				<colorable ng-model="receita.debitavel" itens="debitaveis" on-select="setMoeda"></colorable>
			</div>
			<div class="col-md-5">
				<h4 ng-if="receita.debitavel != null">
					<strong>Saldo:</strong> {{receita.debitavel.saldo | currency: 'R$ '}}
				</h4>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-3 control-label">Receita já depositada?</label>
			<div class="col-md-9">
				<input type="checkbox" ng-model="receita.depositado">
			</div>
		</div>

		<div class="form-group botoes">
			<div class="col-md-12">
				<button type="button" class="btn btn-theme" style="float: right;" data-toggle="modal" data-target="#modalSalvar" ng-disabled="edicaoReceita.$invalid">Gravar</button>
				<button type="button" class="btn btn-theme" style="float: left;" ng-click="cancelar();">Cancelar</button>
			</div>
		</div>

	</form>

</div>
