<div class="flex flex-1 progress" [class.progress-striped]="striped" [class.progress-animated]="animated">

    <div class="progress-bar" [class]="getBarClass()" [style.width.%]="getSize()">

        @if (showLabel) {
        <span class="progress-center-label">
            @if(currency){
            {{ current | number: '1.2-2' : 'pt-BR' }} / {{ total | number: '1.2-2' : 'pt-BR' }}
            } @else {
            {{ current | number: '1.0-0' : 'pt-BR' }} / {{ total | number: '1.0-0' : 'pt-BR' }}
            }
        </span>
        }

        <ng-content></ng-content>
    </div>
</div>