.top-nav-bar {
  background: #ffd777;
  border-bottom: 1px solid #c9aa5f;
  position: sticky;
  top: 50px;
  min-height: 50px;
  z-index: 1000;
}

.wraper {
  padding: 25px 15px 15px 15px;
}