<p-select
          [options]="debitaveis"
          [(ngModel)]="value"
          (ngModelChange)="onChangeValue($event)"
          (blur)="onBlur()"
          [placeholder]="placeholder"
          [disabled]="disabled"
          optionLabel="descricao"
          class="w-full">
    <ng-template #selectedItem let-selectedOption>
        <app-color-display [color]="selectedOption.cor" [text]="selectedOption.descricao" />
    </ng-template>

    <ng-template let-tipoDespesa #item>
        <app-color-display [color]="tipoDespesa.cor" [text]="tipoDespesa.descricao" />
    </ng-template>
</p-select>