<p-select
          [options]="debitaveis"
          [(ngModel)]="value"
          (ngModelChange)="onChangeValue($event)"
          (blur)="onBlur()"
          [placeholder]="placeholder"
          [disabled]="disabled"
          optionLabel="descricao"
          dataKey="id"
          appendTo="body"
          (onChange)="emitChange()"
          class="w-full">
    <ng-template #selectedItem let-selectedOption>
        <app-color-display [color]="selectedOption.cor" [text]="selectedOption.descricao" />
    </ng-template>

    <ng-template let-debitavel #item>
        <app-color-display [color]="debitavel.cor" [text]="debitavel.descricao" />
    </ng-template>
</p-select>