<h3>
	<i class="fa fa-angle-right"></i>
	Metas
</h3>

<ng-modal id="modalSalvar" modal-title="Confirmar" func-salvar="salvar(edicaoMeta.$valid);" type="SAVE">Tem certeza que deseja salvar <b>meta de {{MESES[meta.mes.mes - 1].nome}} de {{meta.mes.ano}}?</b> </ng-modal>

<div class="row col-md-5 form-panel">

	<form class="form-horizontal" method="get" name="edicaoMeta" novalidate>

		<div class="form-group">
			<label class="col-md-3 control-label">Para o mês de:</label>
			<div class="col-md-9">
				<mes ng-model="meta.mes"></mes>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-3 control-label">Valor:</label>
			<div class="input-group col-md-9" style="padding-left: 15px; padding-right: 15px;">
				<div class="input-group-addon">
					<i class="fa fa-money"></i>
				</div>
				<input type="text" class="form-control" placeholder="Valor" ng-model="meta.valor" ui-number-mask required>
			</div>
		</div>

		<div class="form-group botoes">
			<div class="col-md-12">
				<button type="button" class="btn btn-theme" style="float: right;" data-toggle="modal" data-target="#modalSalvar" ng-disabled="edicaoMeta.$invalid">Gravar</button>
				<button type="button" class="btn btn-theme" style="float: left;" ng-click="cancelar();">Cancelar</button>
			</div>
		</div>

	</form>

</div>
