<app-base-debitavel-view
    titulo="Contas Bancárias"
    [loading]="loading()"
    [loadingData]="loadingData()"
    [data]="data()"
    [filters]="['descricao']"
    [descricao]="conta?.descricao"
    [columns]="columns"
    [itemTemplate]="itemTemplate"
    (onAdd)="add()"
    (onEdit)="edit($event)"
    (onRemove)="remove()"
    (onReload)="reload()"
    (onChangeAtivos)="onChangeAtivos($event)" />

<ng-template #itemTemplate let-conta>

    <div class="col-span-4 p-2">

        <div class="p-4 border border-[#e2e8f0] rounded shadow-sm hover:shadow-md transition-shadow" [class.texto-vermelho]="!conta.ativo">

            <div class="flex justify-between items-start mb-3">
                <div class="flex items-center gap-3">
                    <app-color-display [color]="conta.cor" />
                    <span class="font-semibold">{{ conta.descricao }}</span>
                </div>
                <div class="flex gap-1">
                    <p-button icon="pi pi-pen-to-square" size="small" (click)="edit(conta.id)" />
                    <p-button icon="pi pi-trash" severity="danger" size="small" (click)="openDialog(conta)" />
                </div>
            </div>
            <div class="mt-2">
                <div class="text-sm">Saldo</div>
                <div class="text-xl">
                    {{ conta.moeda.simbolo }} {{ conta.saldo | number: '1.2-2' : 'pt-BR' }}
                </div>
            </div>
            <div class="flex justify-end mt-2">
                <div>
                    @if (conta.ativo) {
                    <span class="text-green-600"><i class="pi pi-check-circle"></i> Ativo</span>
                    } @else {
                    <span class="text-red-600"><i class="pi pi-times-circle"></i> Inativo</span>
                    }
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #colorTemplate let-conta>
    <app-color-display [color]="conta.cor" />
</ng-template>

<ng-template #ativoTemplate let-conta>
    @if (conta.ativo) {
    <i class="pi pi-check"></i>
    } @else {
    <i class="pi pi-times"></i>
    }
</ng-template>

<ng-template #saldoTemplate let-conta>
    {{ conta.moeda.simbolo }} {{ conta.saldo | number: '1.2-2' : 'pt-BR' }}
</ng-template>