<h3>
	<i class="fa fa-angle-right"></i>
	Tipo de Despesa
</h3>

<div class="row mt">

    <div class="col-lg-6">

        <div class="form-panel">

            <form class="form-horizontal" method="get" name="edicaoTipoDespesa" novalidate>

                <div class="form-group" style="margin-top: 15px;">
                    <label class="col-sm-2 control-label">Descrição:</label>
                    <startup-error tooltip-message="Descrição do tipo de despesas." error-message="Atributo descrição é obrigatório." form-name="edicaoTipoDespesa" class="col-lg-10">
                        <input type="text" class="form-control" placeholder="Descrição" ng-model="tipodespesa.descricao" name="descricao" startup-error-field required>
                    </startup-error>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Cor:</label>
                    <startup-error tooltip-message="Cor que será utilizado para exibição em gráficos e legendas." error-message="Atributo cor é obrigatório." form-name="edicaoTipoDespesa" class="col-lg-8">
                        <div style="display: -webkit-box; width: 33.33333333%; ">
                            <input colorpicker type="text" class="form-control" placeholder="Cor de exibição" ng-model="tipodespesa.cor" name="cor" startup-error-field required>
                            <div style="margin-left: 20px; width: 34px; height:34px; border-radius:20px; border-color:{{tipodespesa.cor}}; background-color: {{tipodespesa.cor}};"></div>
                        </div>
                    </startup-error>
                </div>

                <div class="form-group">
                    <div style="margin: 10px; padding: 40px 10px 0px 10px;">
                        <button type="button" class="btn btn-theme" style="float: right;" data-toggle="modal" data-target="#modalSalvar" ng-disabled="edicaoTipoDespesa.$invalid">Gravar</button>
                        <button type="button" class="btn btn-theme" style="float: left;" ng-click="cancelar();">Cancelar</button>
                    </div>
                </div>
            </form>

        </div>

    </div>

</div>

<ng-modal id="modalSalvar" modal-title="Confirmar" func-salvar="salvar(edicaoTipoDespesa.$valid);" type="SAVE">Tem certeza que deseja salvar <b>{{tipodespesa.descricao}}?</b>
</ng-modal>
