<h3>
	<i class="fa fa-angle-right"></i>
	Lançamento de Despesa
</h3>

<ng-modal id="modalSalvar" modal-title="Confirmar" func-salvar="salvar(edicaoDespesa.$valid);" type="SAVE">Tem certeza que deseja salvar <b>{{despesa.descricao}}?</b> </ng-modal>

<div class="row col-md-6 form-panel">

	<form class="form-horizontal" method="get" name="edicaoDespesa" novalidate>

		<div class="form-group">
			<label class="col-md-2 control-label">Descrição:</label>
			<div class="col-md-10 ">
				<input type="text" class="form-control" placeholder="Descrição" ng-model="despesa.descricao" required />
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label">Valor:</label>
			<div class="input-group col-md-10" style="padding-left: 15px; padding-right: 15px;">
				<div class="input-group-addon">
					<i class="fa fa-money"></i>
				</div>
				<input type="text" class="form-control" placeholder="Valor da despesa" ng-model="despesa.valor" ui-number-mask required />
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label">Data:</label>
			<div class="input-group col-md-10" style="padding-left: 15px; padding-right: 15px;">
				<div class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</div>
				<input type="text" name="data" class="form-control" placeholder="Data" ng-model="despesa.vencimento" bs-datepicker autoclose="true" required />
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label">Tipo:</label>
			<div class="col-md-4">
				<colorable itens="tiposDespesa" ng-model="despesa.tipo" on-select="selecionarTipoDespesa"></colorable>
			</div>
			<div class="col-md-5" ng-show="orcamento != undefined" style="margin: 7px 0px;">
				<progressbar class="progress-striped active" value="orcamento.getValueOrcamento();" type="{{orcamento.getClassProgressBar();}}">{{orcamento.valorConsolidado}}/{{orcamento.valor}}</progressbar>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label">Debitável:</label>
			<div class="col-md-6 ">
				<colorable ng-model="despesa.debitavel" itens="debitaveis" on-select="setMoeda"></colorable>
			</div>
			<div class="col-md-4">
				<h4 ng-if="despesa.debitavel != null">
					<strong>Saldo:</strong> {{despesa.debitavel.saldo | currency: 'R$ '}}
				</h4>
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label">Despesa já paga ?</label>
			<div class="col-md-10">
				<input type="checkbox" ng-model="despesa.paga">
			</div>
		</div>


		<div class="form-group" style="height: 35px;">
			<label class="col-md-2 control-label">Parcelar?</label>
			<div class="col-md-2">
				<input type="checkbox" style="float: left;" ng-model="parcelar" />
			</div>

			<div class="col-md-8" ng-if="parcelar">

				<label class="col-md-2 control-label">Parcelas:</label>
				<div class="col-md-4">
					<input type="text" class="form-control" ng-model="parcelamento.parcelas" ui-number-mask="0" />
				</div>

				<label class="col-md-2 control-label">Periodiocidade:</label>
				<div class="col-md-4">
					<select class="form-control" ng-model="parcelamento.tipo">
						<option ng-repeat="tipoParcelamento in tiposParcelamento">{{tipoParcelamento}}</option>
					</select>
				</div>

			</div>

		</div>

		<div class="form-group botoes">
			<div class="col-md-12">
				<button type="button" class="btn btn-theme" style="float: right;" data-toggle="modal" data-target="#modalSalvar" ng-disabled="edicaoDespesa.$invalid">Gravar</button>
				<button type="button" class="btn btn-theme" style="float: left;" ng-click="cancelar();">Cancelar</button>
			</div>
		</div>

	</form>

</div>
