<fieldset class="filtro">

    <legend>Filtro</legend>

    <label>Vencimento Inicial:</label>
    <input type="text" name="dataInicial" class="form-control" bs-datepicker ng-model="$parent.filtro.dataInicial" autoclose="true"></input>

    <label>Vencimento Final:</label>
    <input type="text" name="dataFinal" class="form-control" bs-datepicker ng-model="$parent.filtro.dataFinal" autoclose="true"></input>
    <label>Tipo Despesa:</label>
    <colorable itens="tiposDespesa" ng-model="$parent.tipoDespesaSelecionado" on-select="selecionarTipoDespesa"></colorable>

	<button type="button" class="btn btn-danger" ng-click="$parent.resetFiltro();" style="float: right;">Limpar</button>
    <button type="button" class="btn btn-primary" ng-click="$parent.listar();" style="float: right;">Filtrar</button>

</fieldset>
