<span class="page-title">
    <i class="pi pi-chevron-right"></i> Dashboard
</span>

<div class="form-panel mb-8" [style.margin-bottom]="'30px'">
    <div class="flex items-center justify-between">
        <div class="w-1/12">
            <p-button icon="pi pi-chevron-left" [rounded]="true" [text]="true" severity="secondary" (click)="anterior()" />
        </div>
        <div class="w-10/12 text-center">
            <h4 class="text-xl font-semibold text-gray-800">
                {{Mes.getPorId(mes)?.name}}/{{ano}}
            </h4>
        </div>
        <div class="w-1/12 flex justify-end">
            <p-button icon="pi pi-chevron-right" [rounded]="true" [text]="true" severity="secondary" (click)="posterior()" />
        </div>
    </div>
</div>

<div class="flex w-full gap-8" style="height: 300px;">
    @if(!loading()){
    @for (grafico of graficos; track $index) {
    <div class="white-panel flex-1">
        <div class="white-header">
            <h5 class="p-2">{{grafico.titulo}}</h5>
        </div>
        <div class="p-3">
            @if(grafico.tipoGrafico === 'PIZZA'){
            <p-chart height="240" type="doughnut" [data]="convertPizza(grafico)" class="w-full" [options]="{cutout: '60%',plugins: { legend: { display: false }}}" />
            }

            @if(grafico.tipoGrafico === 'BARRAS'){
            <p-chart height="240" type="bar" [data]="convertBarra(grafico)" class="w-full" [options]="{ plugins: { legend: { display: false } } }" />
            }
        </div>
    </div>
    }
    }
</div>

<div class="flex w-full gap-8 mt-8" style="height: 200px;">

    <div class="white-panel flex-1">
        <div class="white-header">
            <h5 class="p-2">Porto Seguro</h5>
        </div>
        <div>
        </div>
    </div>

    <div class="white-panel flex-1">
        <div class="white-header">
            <h5 class="p-2">Saldo do Mês</h5>
        </div>
        <div class="text-4xl mt-15">
            @if (!loading()) {
            <div class="flex items-center gap-2 items-center justify-center">
                @if(isSaldoPositivo()){
                <fa-icon [icon]="faArrowUp" style="color: green;" />
                <div>R$ {{saldo | number: '1.2-2' : 'pt-BR'}}</div>
                }

                @if (isSaldoNegativo()) {
                <fa-icon [icon]="faArrowDown" style="color: red;" />
                <div>R$ ({{ ( (saldo || 0) * -1) | number: '1.2-2' : 'pt-BR'}})</div>
                }

            </div>
            }
        </div>
    </div>

    <div class="white-panel flex-1">
        <div class="white-header">
            <h5 class="p-2">Orçamentos do Mês</h5>
        </div>
        <div>
            @if(!loading()){
            @for (orcamento of orcamentos; track $index) {
            <div class="flex items-center gap-4 p-4">
                <div class="flex-none w-1/4">
                    {{orcamento.tipoDespesa.descricao}}
                </div>
                <div class="flex-1">
                    <app-progress-bar [current]="orcamento.valorConsolidado" [total]="orcamento.valor" [striped]="true" [animated]="true" [showLabel]="true" />
                </div>
            </div>
            } @empty {
            <div class="mt-15 text-2xl">
                Sem orçamentos cadastrados!
            </div>
            }
            }
        </div>
    </div>

    <div class="white-panel flex-1">
        <div class="white-header">
            <h5 class="p-2">Meta do Mês</h5>
        </div>
        <div>
            @if(!loading()) {
            <div class="flex flex-col">
                <div class="flex flex-col p-3">
                    <span class="text-xl">Disponível</span>
                    <span class="text-3xl">R$ {{meta?.saldo | number: '1.2-2' : 'pt-BR'}}</span>
                </div>

                <div class="flex justify-between gap-3">
                    <div class="flex-1 text-center p-2">
                        <div class="text-s">Objectivo</div>
                        <div class="text-base mt-1">R$ {{meta?.valor | number: '1.2-2' : 'pt-BR'}}</div>
                    </div>
                    <div class="flex-1 text-center p-2">
                        <div class="text-s">Por Dia</div>
                        <div class="text-base mt-1">R$ {{meta?.valorDiario | number: '1.2-2' : 'pt-BR'}}</div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>