<div>

	<h3>
		<i class="fa fa-angle-right"></i> {{getTitulo()}}
	</h3>

	<span us-spinner spinner-key="{{getNomeSpin();}}" spinner-start-active="true"></span>

	<ng-modal id="modalExcluir" modal-title="Confirmar" func-salvar="doDelete();" type="SAVE" label-salvar="Deletar"> Tem certeza que deseja deletar <b>{{getDescricaoSelecionado()}}?</b> </ng-modal>

	<ng-modal id="modalOk" modal-title="Informativo" type="OK">{{getMensagemDelete()}}</ng-modal>

	<div class="form-panel">

		<div class="row">

			<div ng-if="hasFiltro();" class="col-md-10">
				<ng-include src="getFiltro();"></ng-include>
			</div>

			<div class="col-md-2 form-inline pull-right">

				<div class="form-group pull-right">
					<button type="button" class="btn btn-default" ng-click="novo();" style="margin-bottom: 40px;" id="btnAdd">
						<i class="fa fa-plus-square fa-fw"></i>Adicionar
					</button>
				</div>

			</div>
		</div>

		<ng-transclude></ng-transclude>

		<div class="clearfix"></div>

	</div>

</div>