<div>

    <h3>
	   <i class="fa fa-angle-right"></i> {{getTitulo()}}
    </h3>

    <ng-modal id="modalExcluir" modal-title="Confirmar" func-salvar="doDelete();" type="SAVE" label-salvar="Deletar">
        Tem certeza que deseja deletar <b>{{getDescricaoSelecionado()}}?</b>
    </ng-modal>

    <ng-modal id="modalOk" modal-title="Informativo" type="OK">{{getMensagemDelete()}}</ng-modal>

    <div class="row mt">

        <div class="col-lg-12">

            <div class="form-panel">

                <div ng-if="hasFiltro();" class="clearfix">
                    <ng-include src="getFiltro();"></ng-include>
                </div>

                <select ng-change="changePageSize()" ng-model="pageSize" style="margin: 30px 10px 30px 0px; width: 200px; height: 30px; float: right;">
                    <option ng-repeat="numberPage in numberPages" value="{{numberPage}}" ng-selected="numberPage == pageSize">{{numberPage}} por p&aacutegina</option>
                </select>

                <i class="fa fa-plus-square" style="font-size: 30px; color: #CCC; margin: 30px 20px 30px 0px; cursor: pointer; float: right;" ng-click="novo();"></i>

                <span us-spinner spinner-key="{{getNomeSpin();}}" spinner-start-active="true"></span>

                <ng-transclude></ng-transclude>

                <div class="btn-toolbar" role="toolbar" style="text-align: center;">

                    <div class="btn-group" style="float: initial;">

                        <button type="button" ng-click="firstPage()" style="top: 0px;" class="btn btn-default glyphicon glyphicon-fast-backward" ng-disabled="isFirstPage()"></button>

                        <button type="button" ng-click="previousPage()" style="top: 0px;" class="btn btn-default glyphicon glyphicon-step-backward" ng-disabled="isFirstPage()"></button>

                        <button type="button" class="btn btn-default {{page == currentPage ? 'active':''}}" ng-repeat="page in [] | range:pages" ng-click="changePage(page)">{{page + 1}}</button>

                        <button type="button" ng-click="nextPage()" style="top: 0px;" class="btn btn-default glyphicon glyphicon-step-forward" ng-disabled="isLastPage()"></button>

                        <button type="button" ng-click="lastPage()" style="top: 0px;" class="btn btn-default glyphicon glyphicon-fast-forward" ng-disabled="isLastPage()"></button>

                    </div>
                </div>

            </div>

        </div>

    </div>

</div>