<app-base-debitavel-view
    titulo="Cartões de Crédito"
    [loading]="loading()"
    [loadingData]="loadingData()"
    [data]="data()"
    [filters]="['descricao']"
    [descricao]="cartaoCredito?.descricao"
    [columns]="columns"
    [extraActions]="extraActions"
    [itemTemplate]="itemTemplate"
    (onAdd)="add()"
    (onEdit)="edit($event)"
    (onRemove)="remove()"
    (onReload)="reload()"
    (onChangeAtivos)="onChangeAtivos($event)" />

<ng-template #itemTemplate let-cartao>

    <div class="col-span-4 p-2">

        <div class="p-4 border border-[#e2e8f0] rounded shadow-sm hover:shadow-md transition-shadow" [class.texto-vermelho]="!cartao.ativo">

            <div class="flex justify-between items-start mb-3">
                <div class="flex items-center gap-3">
                    <app-color-display [color]="cartao.cor" />
                    <span class="font-semibold">{{ cartao.descricao }}</span>
                </div>
                <div class="flex gap-1">
                    <p-button icon="pi pi-list" severity="warn" size="small" (click)="showFaturas(cartao)" />
                    <p-button icon="pi pi-pen-to-square" size="small" (click)="edit(cartao)" />
                    <p-button icon="pi pi-trash" severity="danger" size="small" (click)="openDialog(cartao)" />
                </div>
            </div>

            <div class="flex items-center gap-2 mb-2">
                <fa-icon [icon]="cartao.bandeira.icon" size="2x" />
                <span class="text-sm text-gray-600">{{ cartao.bandeira.descricao }}</span>
            </div>

            <div class="mt-2">
                <div class="text-sm">Limite</div>
                <div class="text-xl">
                    {{ cartao.moeda.simbolo }} {{ cartao.limite | number: '1.2-2' : 'pt-BR' }}
                </div>
            </div>

            <div class="grid grid-cols-2 gap-2 mt-3">
                <div>
                    <div class="text-xs text-gray-500">Fechamento</div>
                    <div class="font-semibold">Dia {{ cartao.diaDeFechamento }}</div>
                </div>
                <div>
                    <div class="text-xs text-gray-500">Vencimento</div>
                    <div class="font-semibold">Dia {{ cartao.diaDeVencimento }}</div>
                </div>
            </div>

            <div class="flex justify-end mt-3">
                <div>
                    @if (cartao.ativo) {
                    <span class="text-green-600"><i class="pi pi-check-circle"></i> Ativo</span>
                    } @else {
                    <span class="text-red-600"><i class="pi pi-times-circle"></i> Inativo</span>
                    }
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #colorTemplate let-cartao>
    <app-color-display [color]="cartao.cor" />
</ng-template>

<ng-template #ativoTemplate let-cartao>
    @if (cartao.ativo) {
    <i class="pi pi-check"></i>
    } @else {
    <i class="pi pi-times"></i>
    }
</ng-template>

<ng-template #bandeiraTemplate let-cartao>
    <fa-icon [icon]="cartao.bandeira.icon" size="2x" />
</ng-template>

<ng-template #limiteTemplate let-cartao>
    {{ cartao.moeda.simbolo }} {{ cartao.limite | number: '1.2-2' : 'pt-BR' }}
</ng-template>