<h3>
	<i class="fa fa-angle-right"></i> Cartão de Crédito
</h3>

<div class="row mt">

    <div class="col-lg-12">

        <div class="form-panel">

            <form novalidate class="form-horizontal" method="get" name="edicaoCartao" novalidate>

                <div class="form-group" style="margin-top: 15px;">
                    <label class="col-sm-2 control-label">Descrição:</label>
                    <startup-error tooltip-message="Descrição do Cartão de Crédito." error-message="Atributo descrição do cartão é obrigatório." form-name="edicaoCartao" class="col-lg-10">
                        <input type="text" class="form-control" placeholder="Descrição" ng-model="cartao.descricao" startup-error-field required>
                    </startup-error>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 col-sm-2 control-label">Cor:</label>

                    <startup-error tooltip-message="Cor que será utilizado para exibição em gráficos e legendas." error-message="Atributo cor é obrigatório." form-name="edicaoCartao" class="col-lg-8">
                        <div style="display: -webkit-box; width: 33.33333333%; ">
                            <input colorpicker class="form-control" placeholder="Cor de exibição" ng-model="cartao.cor" startup-error-field required>
                            <div style="margin-left: 20px; width: 34px; height:34px; border-radius:20px; border-color:{{cartao.cor}}; background-color: {{cartao.cor}};"></div>
                        </div>
                    </startup-error>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">Limite:</label>

                    <startup-error tooltip-message="Limite do cartão crédito." error-message="Atributo limite é obrigatório." form-name="edicaoCartao" class="col-lg-10">
                        <div class="custom-icon-group">
                            <span class="icon-input">
						<i class="fa fa-money"></i>
					    </span>
                            <input type="text" class="form-control" placeholder="Limite" ng-model="cartao.limite" ui-number-mask startup-error-field required>
                        </div>
                    </startup-error>
                </div>

                <div class="form-group" style="margin-top: 15px;">
                    <label class="col-sm-2 control-label">Fechamento em:</label>
                    <div class="col-lg-2">
                        <select ng-model="cartao.diaDeFechamento" class="form-control">
                            <option ng-repeat="dia in [] | range: 31" value="{{dia + 1}}">{{dia + 1}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 15px;">
                    <label class="col-sm-2 control-label">Vencimento em:</label>
                    <div class="col-lg-2">
                        <select ng-model="cartao.diaDeVencimento" class="form-control">
                            <option ng-repeat="dia in [] | range: 31" value="{{dia + 1}}">{{dia + 1}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" style="margin-top: 15px;">
                    <label class="col-sm-2 control-label">Bandeira:</label>
                    <div class="col-lg-5">
                        <select ng-model="cartao.bandeiraCartaoCredito" class="form-control">
                            <option ng-repeat="bandeira in bandeiras" value="{{bandeira}}">{{bandeira}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div style="margin: 10px; padding: 20px 10px 0px 10px;">
                        <button type="button" class="btn btn-theme" style="float: right;" data-toggle="modal" data-target="#modalSalvar" ng-disabled="edicaoCartao.$invalid">Gravar</button>
                        <button type="button" class="btn btn-theme" style="float: left;" ng-click="cancelar();">Cancelar</button>
                    </div>
                </div>

            </form>

        </div>

    </div>

</div>

<ng-modal id="modalSalvar" modal-title="Confirmar" func-salvar="salvar(edicaoCartao.$valid);" type="SAVE">Tem certeza que deseja salvar <b>{{cartao.descricao}}?</b>
</ng-modal>