<app-base-debitavel-view
    titulo="Investimentos"
    [loading]="loading()"
    [loadingData]="loadingData()"
    [data]="data()"
    [filters]="['descricao']"
    [descricao]="investimento?.descricao"
    [columns]="columns"
    [extraActions]="extraActions"
    [itemTemplate]="itemTemplate"
    (onAdd)="add()"
    (onEdit)="edit($event)"
    (onRemove)="remove()"
    (onReload)="reload()"
    (onChangeAtivos)="onChangeAtivos($event)" />

<ng-template #itemTemplate let-investimento>

    <div class="col-span-4 p-2">
        <div class="p-4 border border-[#e2e8f0] rounded shadow-sm hover:shadow-md transition-shadow" [class.texto-vermelho]="!investimento.ativo">

            <div class="flex justify-between items-start mb-3">
                <div class="flex items-center gap-3">
                    <app-color-display [color]="investimento.cor" />
                    <span class="font-semibold">{{ investimento.descricao }}</span>
                </div>
                <div class="flex gap-1">
                    <p-button icon="pi pi-pen-to-square" size="small" (click)="edit(investimento)" />
                    <p-button icon="pi pi-trash" severity="danger" size="small" (click)="openDialog(investimento)" />
                </div>
            </div>

            <div class="grid grid-cols-2 gap-2 mt-2">
                <div>
                    <div class="text-sm text-gray-500">Montante Aplicado</div>
                    <div class="text-lg">{{ investimento.moeda.simbolo }} {{ investimento.montante | number: '1.2-2' : 'pt-BR' }}</div>
                </div>
                <div>
                    <div class="text-sm text-gray-500">Rendimento</div>
                    <div class="text-lg">{{ investimento.rendimento | number: '1.2-2' : 'pt-BR' }}%</div>
                </div>
                <div>
                    <div class="text-sm text-gray-500">Periodicidade</div>
                    <div class="text-base">{{ investimento.periodicidade }}</div>
                </div>
                <div>
                    <div class="text-sm text-gray-500">Total Rendimento</div>
                    <div class="text-lg">{{ investimento.moeda.simbolo }} {{ investimento.valorReceitas | number: '1.2-2' : 'pt-BR' }}</div>
                </div>
                <div>
                    <div class="text-sm text-gray-500">Yield</div>
                    <div class="text-lg">{{ investimento.yield | number: '1.2-2' : 'pt-BR' }}%</div>
                </div>
            </div>

            <div class="flex justify-end mt-3">
                @if (investimento.ativo) {
                <span class="text-green-600"><i class="pi pi-check-circle"></i> Ativo</span>
                } @else {
                <span class="text-red-600"><i class="pi pi-times-circle"></i> Inativo</span>
                }
            </div>
        </div>
    </div>
</ng-template>

<ng-template #colorTemplate let-investimento>
    <app-color-display [color]="investimento.cor" />
</ng-template>

<ng-template #montanteTemplate let-investimento>
    {{ investimento.moeda.simbolo }} {{ investimento.montante | number: '1.2-2' : 'pt-BR' }}
</ng-template>

<ng-template #rendimentoTemplate let-investimento>
    {{ investimento.rendimento | number: '1.2-2' : 'pt-BR' }}%
</ng-template>

<ng-template #valorReceitasTemplate let-investimento>
    {{ investimento.moeda.simbolo }} {{ investimento.valorReceitas | number: '1.2-2' : 'pt-BR' }}
</ng-template>

<ng-template #yieldTemplate let-investimento>
    {{ investimento.yield | number: '1.2-2' : 'pt-BR' }}%
</ng-template>

<ng-template #ativoTemplate let-investimento>
    @if (investimento.ativo) {
    <i class="pi pi-check"></i>
    } @else {
    <i class="pi pi-times"></i>
    }
</ng-template>