<h3>
	<i class="fa fa-angle-right"></i>
	Transferência
</h3>

<ng-modal id="modalSalvar" modal-title="Confirmar" func-salvar="salvar(edicaoTransferencia.$valid);" type="SAVE">Tem certeza que deseja salvar <b>{{transferencia.descricao}}?</b> </ng-modal>


<div class="row col-md-6 form-panel">

	<form class="form-horizontal" method="get" name="edicaoTransferencia" novalidate>

		<div class="form-group">
			<label class="col-md-2 control-label">Descrição:</label>
			<div class="col-md-10 ">
				<input type="text" class="form-control" placeholder="Descrição" ng-model="transferencia.descricao" required />
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label">Valor:</label>
			<div class="input-group col-md-10" style="padding-left: 15px; padding-right: 15px;">
				<div class="input-group-addon">
					<i class="fa fa-money"></i>
				</div>
				<input type="text" class="form-control" placeholder="Valor da transferência" ng-model="transferencia.valor" ui-number-mask required />
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label">Data:</label>
			<div class="input-group col-md-10" style="padding-left: 15px; padding-right: 15px;">
				<div class="input-group-addon">
					<i class="fa fa-calendar"></i>
				</div>
				<input type="text" name="data" class="form-control" placeholder="Data" ng-model="transferencia.vencimento" bs-datepicker autoclose="true" required />
			</div>
		</div>

		<div class="form-group">
			<label class="col-md-2 control-label">De:</label>
			<div class="col-md-4 ">
				<colorable ng-model="transferencia.debitavel" itens="debitaveis" on-select="setMoeda"></colorable>
			</div>

			<label class="col-md-2 control-label">Para:</label>
			<div class="col-md-4 ">
				<colorable ng-model="transferencia.creditavel" itens="debitaveis" on-select="setMoeda"></colorable>
			</div>
		</div>

		<div class="form-group botoes">
			<div class="col-md-12">
				<button type="button" class="btn btn-theme" style="float: right;" data-toggle="modal" data-target="#modalSalvar" ng-disabled="edicaoTransferencia.$invalid">Gravar</button>
				<button type="button" class="btn btn-theme" style="float: left;" ng-click="cancelar();">Cancelar</button>
			</div>
		</div>

	</form>

</div>
