<pesquisa-view>

<table datatable="ng" class="table table-striped table-bordered display datatables no-footer row-border hover" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs">

	<thead>
		<tr>
			<th>Descrição</th>
			<th>Valor</th>
			<th>Valor Final</th>
			<th>Vencimento</th>
			<th>Debitável</th>
			<th>Creditável</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="item in originalData" style="height: 40px;">

			<td style="vertical-align: middle; width: 400px;">{{item.descricao}}</td>

			<td style="vertical-align: middle;">{{item.valor | currency: 'R$ '}}</td>
			
			<td style="vertical-align: middle;">{{item.valorReal | currency: 'R$ '}}</td>

			<td style="vertical-align: middle;">{{item.vencimento | date: 'dd/MM/yyyy'}}</td>

			<td>
				<bullet ng-model="item.debitavel"> {{item.debitavel.descricao}} </bullet>
			</td>

			<td>
				<bullet ng-model="item.creditavel"> {{item.creditavel.descricao}} </bullet>
			</td>

			<td style="width: 38px; height: 38px;">
				<button-editar></button-editar>
			</td>

			<td style="width: 38px; height: 38px;">
				<button-delete></button-delete>
			</td>
		</tr>
	</tbody>

</table>

</pesquisa-view>